body
{
    background-color: white;     
}

#sliderBackground
{
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    height: 15px;
    width: 30px;

    border: 2px solid grey;
    border-radius: 10px;
    
    position: absolute;
    right: 0.5vw;
}

#sliderBackground::-webkit-slider-thumb
{
    -webkit-appearance: none;
    background-color: var(--SliderColor);
    width: 15px;
    height: 15px;

    border: 1px solid grey;
    border-radius: 10px;

}

#menu
{
    display: flex;
    width: fit-content;
    gap: 0px;
    background: white;
    border-radius: 15px;
    box-shadow: 5px 5px 20px #1c1c1c;
    flex-direction: column;
}

.menuItem
{
    text-decoration: none;
    padding: 5px;
    font-weight: bold;
    font-size: 20px;
    margin: 4px;
    border-radius: 15px;
    color: #3B3837;
}

.menuItem:hover
{
    background-color: #3B3837;
    color: white;
}
