body
{
    background-color: white;     
}

#sliderBackground
{
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    height: 15px;
    width: 30px;

    border: 2px solid grey;
    border-radius: 10px;
    
    position: absolute;
    right: 0.5vw;
}

#sliderBackground::-webkit-slider-thumb
{
    -webkit-appearance: none;
    background-color: var(--SliderColor);
    width: 15px;
    height: 15px;

    border: 1px solid grey;
    border-radius: 10px;

}
