@import url("../General/Css/sliderBackground.css");
@import url("../General/Css/menu.css");
@import url("../General/Css/backgroundSetup.css");
@import url("../General/Css/login.css");

#ticTacToeField
{
    display: grid;
    grid-template-columns: 16vw 16vw 16vw;
    column-gap: 1vw;
    grid-template-rows: 16vh 16vh 16vh;
    row-gap: 1vh;

    height: 50vh;
    width: 50vw;
    position: absolute;
    top: 25vh;
    left: 25vw;
}

.ticTacToeItem
{
    background-color: var(--background-color2);
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    color: var(--background-color1);
}

#restartButton
{
    /*-webkit-appearance: none;*/
    position: absolute;
    right: 0.5vw;
    bottom: 1vh;
    border-radius: 15px;
    height: 40px;
    width: 80px;
    background-color: var(--background-color2);
    color: var(--background-color1);
    font-size: 15px;
    font-weight: bold;
}